# Python 기본 문법 Review 1

Python의 기본 문법을 복습 - `print`, `input`, 그리고 변수의 개념 심화.

## 1. `print()` 함수

`print()` 함수는 Python에서 화면에 출력을 할 때 사용됩니다.  
예를 들어:

In [3]:
# 프린트 함수 사용법
print("Hello, World!")

Hello, World!

위의 코드는 화면에 `Hello, World!`를 출력합니다.

### 파이썬의 기본적인 자료형

1. 정수형(int): 정수 값들을 나타냅니다. 음수, 0, 양수 모두 포함됩니다.  
10, -5, 0
2. 실수형(float): 소수점이 포함된 실수 값을 나타냅니다.  
3.14, -2.5, 0.0
3. 문자열형(str)  
문자나 문자열을 나타내며, 작은 따옴표(') 또는 큰 따옴표(")로 둘러싸인 문자를 사용합니다.  
'hello', "world"
4. 참/거짓형(bool)  
True, False

### 다양한 자료형 출력하기

In [2]:
# 정수 출력
print(42)

# 문자열 출력
print("Python is fun!")

# 리스트 출력
print([1, 2, 3, 4, 5])

#Boolean 출력
print(True, False)

42
Python is fun!
[1, 2, 3, 4, 5]
True False

### 쉼표(,)를 사용해 print() 함수에서 여러 데이터를 출력

In [9]:
print("Name:", "David", "Age:", 25, "Height:", 175)

print("Student:", "John", "Score:", 95, "Passed:", True)

Name: David Age: 25 Height: 175
Student: John Score: 95 Passed: True

`print()` 함수는 숫자, 문자열, 리스트 등 다양한 자료형을 출력할 수 있습니다.

### `sep`과 `end` 매개변수

`print()` 함수는 `sep`과 `end`라는 두 가지 중요한 매개변수를 가지고 있습니다.

In [3]:
# sep 사용 예시
print("apple", "banana", "cherry", sep=", ")

# end 사용 예시
print("Hello", end="")
print("World!")

apple, banana, cherry
HelloWorld!


- `sep` 매개변수는 출력되는 항목들 사이에 삽입될 문자열을 지정합니다. 기본값은 공백입니다.
- `end` 매개변수는 출력이 끝난 후 삽입될 문자열을 지정합니다. 기본값은 줄바꿈(`\n`)입니다.

### 파이썬 문자열 포매팅

| 특징     | f-string    | 서식 지정자 (`%`) | `format()`      |
| ------ | ----------- | ------------ | --------------- |
| 가독성    | 매우 좋음       | 나쁨           | 중간              |
| 사용 편의성 | 최고          | 낮음           | 보통              |
| 속도     | 빠름          | 느림           | 느림              |
| 지원 여부  | Python 3.6+ | 오래된 방식 (비추천) | Python 2.x\~3.x |
| 추천도    | ⭐⭐⭐⭐⭐       | ⭐            | ⭐⭐              |

### f-string (가장 추천, Python 3.6이상)  
가장 직관적이고 빠른 문자열 포매팅 방식

문자열 앞에 f를 붙이고, {} 안에 변수나 표현식 삽입

| 기능          | 표현식        | 예시                |
| ----------- | ---------- | ----------------- |
| 소수점 n자리     | `{변수:.nf}` | `{pi:.2f}` → 3.14 |

In [1]:
name = "Alice"
age = 25
print(f"이름: {name}, 나이: {age}")

이름: Alice, 나이: 25

In [5]:
pi = 3.14159
print(f"원주율: {pi:5.2f}") #전체 5자리(앞 공백 포함), 소수점 2자리

원주율:  3.14

### 변수 서식 지정자 (구식 방식, C 스타일)  
% 기호 사용

C 언어 스타일 방식

In [6]:
name = "Alice"
age = 25
print("이름: %s, 나이: %d" % (name, age))

이름: Alice, 나이: 25

### format() 함수 (f-string 이전 주력 방식)
.format() 메서드로 포매팅

f-string보다 느리고 덜 직관적이나, 아직 많이 사용됨

In [7]:
name = "Alice"
age = 25
print("이름: {}, 나이: {}".format(name, age))

이름: Alice, 나이: 25

## 2. 변수

변수는 데이터를 저장하는 데 사용됩니다.  
Python에서 변수는 특정 타입을 지정하지 않고, 값을 할당함으로써 선언됩니다.  
파이썬에서 변수는 데이터를 저장하고 사용할 수 있는 이름을 가진 메모리 공간을 의미합니다.   
변수를 통해 값을 저장하고, 필요할 때 그 값을 참조하거나 변경할 수 있습니다.   
파이썬의 변수는 특정 자료형을 명시적으로 선언하지 않으며, 값을 할당함으로써 자동으로 자료형이 결정됩니다.

### 변수 선언 및 할당

In [3]:
x = 10       # x는 정수형 (int)
y = 3.14     # y는 실수형 (float)
z = "Hello"  # z는 문자열 (str)

위의 예에서 `x`는 정수, `y`는 문자열, `z`는 실수 값을 갖는 변수입니다.

### 변수 값 변경하기

In [1]:
x = 10
print(x)

x = 20
print(x)

10
20

변수의 값은 재할당을 통해 언제든지 변경할 수 있습니다.

### 대소문자 구분  
파이썬은 변수 이름에서 대소문자를 구분합니다.  
즉, Name과 name은 서로 다른 변수로 간주됩니다.

In [10]:
name = "tom"
Name = "Bob"
print(name)
print(Name)

tom
Bob

### 변수 간 값 교환하기

In [11]:
a = 5
b = 10
print("Before: a =", a, "b =", b)

# 값 교환
a, b = b, a
print("After: a =", a, "b =", b)

Before: a = 5 b = 10
After: a = 10 b = 5

Python에서는 두 변수의 값을 간단히 교환할 수 있습니다.

## 3. `input()` 함수

`input()` 함수는 사용자로부터 입력을 받을 때 사용됩니다. 예를 들어:

In [ ]:
user_name = input("Enter your name: ")

In [5]:

print("Hello, " + user_name + "!")

Enter your name:  철수

Hello, 철수!

위의 코드는 사용자의 이름을 입력받고, `Hello, [입력된 이름]!` 형태로 출력합니다.

### 숫자 입력 받기

In [5]:
age = int(input("Enter your age: "))
print("You are", age, "years old.")

Enter your age:  11

You are 11 years old.

`input()` 함수는 항상 문자열을 반환하기 때문에, 숫자를 입력받아야 할 때는 `int()` 또는 `float()`로 형 변환을 해주어야 합니다.

### 여러 값 입력 받기 - `split()`과 `map()`

한 줄에 여러 값을 입력받을 때는 `split()` 함수와 `map()` 함수를 사용할 수 있습니다.

In [6]:
# split() 사용 예시
numbers = input("Enter three numbers separated by spaces: ").split()
print("You entered:", numbers)

# map() 사용 예시
numbers = list(map(int, input("Enter three numbers separated by spaces: ").split()))
print("You entered:", numbers)

Enter three numbers separated by spaces:  2 5 3

You entered: ['2', '5', '3']

Enter three numbers separated by spaces:  1 2 3

You entered: [1, 2, 3]


- `split()` 함수는 입력된 문자열을 공백이나 다른 구분자를 기준으로 분할하여 리스트로 반환합니다.
- `map()` 함수는 리스트의 각 요소에 대해 주어진 함수를 적용하여 새로운 리스트를 만듭니다. 예를 들어, `map(int, ...)`은 문자열 리스트를 정수 리스트로 변환합니다.

Before: a = 5 b = 10
After: a = 10 b = 5

## 4. 연습 문제

## 문제 1. print() 함수의 sep과 end 매개변수 사용
문제 설명:
print() 함수의 sep과 end 매개변수를 활용하여,
여러분의 이름과 나이를 다음과 같은 형식으로 출력하는 프로그램을 작성하세요.

출력 예시:  
     이름: 홍길동, 나이: 20세입니다.
- sep를 사용하여 : 뒤에 공백 없이 출력
- end를 사용하여 출력이 끝난 뒤, "감사합니다!"라는 문장을 이어서 출력되도록 만드세요.

출력 결과 예시 (한 번에 출력됨):
이름:홍길동, 나이:20세입니다.감사합니다!

힌트:
print()의 기본 구분자 sep와 끝문자 end를 꼭 활용하세요.

## 문제 2 : input()과 split()으로 두 숫자 합계 계산
문제 설명:
input() 함수와 split() 메서드를 사용하여 한 줄에 두 개의 정수를 입력받고, 그 두 수의 합을 계산하여 출력하는 프로그램을 작성하세요.

출력 예시:  
숫자 두 개를 입력하세요: 3 5
두 수의 합: 8

조건: 한 줄에 입력받아야 합니다.
split()으로 나누고, map(int, ...)으로 정수 변환을 반드시 사용하세요.

## 문제 3. 세 숫자의 평균 계산  
문제 설명: 세 개의 정수를 입력받아,세 수의 평균을 계산하고 출력하는 프로그램을 작성하세요.

출력 예시:  
세 개의 정수를 입력하세요: 10 20 30
세 수의 평균: 20.0

조건:  
- 반드시 input().split()으로 한 줄에 입력받기  
- 평균은 실수(float) 형태로 출력
- 소수점 자리수는 제한하지 않지만, 필요하면 round() 사용 가능

## 문제 4. 키와 몸무게로 BMI 계산
문제 설명: input() 함수와 split()을 사용하여 사용자의 **키(cm)**와 **몸무게(kg)**를 입력받고, BMI를 계산하여 출력하는 프로그램을 작성하세요.

BMI 계산식:  
BMI = 몸무게(kg) / (키(m) * 키(m))
출력 예시:  
키(cm)와 몸무게(kg)를 입력하세요: 170 65
당신의 BMI는 22.49134948096886 입니다.

조건:  
- 키는 반드시 cm로 입력받고, 계산 시 m로 변환해야 합니다.  
- 반드시 map(float, ...) 사용하여 입력값을 실수형으로 변환해야 합니다.